# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# Operating System
.DS_Store
Thumbs.db
# SQLite database
habeshago.db